[Unit]
Description=Klyra Auto-Update Timer
Requires=klyra-update.service

[Timer]
# Check for updates every minute
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
